body {
    background-color: lightblue ;
    transition: .5s ease;
  }
  .heading-3 {
    color: red;
    letter-spacing: 10px ;
    transition: .2s ease;
  }
  .heading-3:hover {
    color: green;
    letter-spacing: 0px ;
  }
  .button {
    padding: .5rem;
    border-radius: 1rem;
    border: none;
    background-color: lightgreen;
    cursor: pointer;
    transition: .2s ease;
  }
  .button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
  .help {
    margin-left: 1rem;
    padding: .5rem;
    border-radius: 1rem;
    border: none;
    background-color: red;
    cursor: pointer;
    transition: .2s ease;
  }
  .help:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
  .dark-theme {
    background-color: grey ;
  }
  input {
    width:300px;
    margin: 2rem 0;
  }